/* Global */
.hidden {
  opacity: 0;
  transform: translateY(1rem);
  transition-property: opacity, transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.show {
  opacity: 1;
  transform: translateY(0);
}

:root {
  --font-header: 'Playfair Display', serif;
  --font-text: 'Josefin Sans', sans-serif;
  --font-signature: 'Monsieur La Doulaise', cursive;
  --fw-semibold: 600;
  --fw-light: 300;

  --color-main-black: hsl(0, 0%, 8%);
  --color-main-white: hsl(0, 0%, 100%);
  --color-light-brown: hsl(34, 61%, 83%);
  --color-background: hsl(30, 36%, 95%);
  --color-light-pink: hsl(23, 75%, 78%);
  --color-dark-green: hsl(163, 70%, 15%);
  --color-bright-orange: hsl(14, 84%, 55%);
  --color-dark-yellow: hsl(36, 77%, 53%);
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-text);
  color: var(--color-main-black);
}

.abstract-img {
  margin-block: 2.5rem;
  margin-inline: auto;
  width: clamp(16.25rem, 16rem + 4.1vw, 18.75rem);
  height: 3.75rem;
  border-radius: 5px;
  background-color: var(--color-main-black);
  overflow: hidden;
  display: block;
}

.section-title {
  text-align: center;
  font-family: var(--font-header);
  font-weight: var(--fw-semibold);
  font-size: 2.5rem;
}

.btn {
  border-radius: 5px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  font-family: var(--font-text);
  font-weight: var(--fw-semibold);
  cursor: pointer;
}

/* Reset */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

/* Navbar Style */

.navbar {
  width: calc(100% - 5rem);
  max-width: 80rem;
  margin-inline: auto;
  display: flex;
  margin-block: 1.875rem;
  align-items: center;
}

.page-logo {
  font-family: var(--font-header);
  font-weight: var(--fw-semibold);
  font-size: 1.5rem;
  color: var(--color-main-black);
  margin-inline-end: auto;
}

.social-links-container {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 1.25rem;
}
.social-link {
  transition: transform 100ms ease-in-out;
}
.social-link:hover {
  color: var(--color-light-brown);
  transform: scale(1.2);
}

.fa-github::before,
.fa-linkedin::before {
  height: 1.625rem;
}

/* Welcome section */
.welcome {
  margin-block-end: 18.75rem;
  display: flex;
  width: calc(100% - 5rem);
  max-width: 80rem;
  margin-inline: auto;
  margin-block-start: 9.375rem;
  align-items: flex-end;
}

@media (max-width: 68.25rem) {
  .welcome {
    flex-wrap: wrap;
  }
  .nav-card-container {
    margin-block-start: 2.5rem;
  }
}

/* Greeting */

.greeting {
  margin-inline-end: auto;
}
.greeting-text {
  max-width: 26.875rem;
}
.greeting-text > h1 {
  font-family: var(--font-signature);
  font-weight: 400;
  font-size: clamp(3.125rem, 2.5rem + 3.125vw, 5rem);
  margin-block-end: 0.625rem;
}
.greeting-text > p {
  font-size: clamp(1rem, 0.92rem + 0.42vw, 1.25rem);
  margin-block-end: 2.5rem;
  line-height: 1.5;
}

.contact-me-btn {
  height: 3.75rem;
  width: 9.375rem;
  font-size: 1.125rem;
  margin-inline-end: 1rem;
  background-color: var(--color-light-brown);
}

.resume-btn {
  height: 3.75rem;
  width: 6.25rem;
  font-size: 1.125rem;
  background-color: var(--color-dark-green);
  color: var(--color-main-white);
}
/* Navigation Cards */
.body-content {
  position: relative;
}

.left-nav {
  position: absolute;
  left: 5%;
  transform: rotate(-90deg);
  font-family: var(--font-header);
}

.left-nav > a {
  color: var(--color-main-black);
  margin-inline-end: 10px;
}

.nav-card-container {
  display: flex;
  gap: 0.9375rem;
}

.nav-card {
  width: clamp(5.625rem, 3.33rem + 11.45vw, 12.5rem);
  aspect-ratio: 2 / 3;
  border-radius: 5px;
}

.card-text {
  font-family: var(--font-header);
  font-size: clamp(1rem, 0.92rem + 0.42vw, 1.25rem);
  color: var(--color-main-black);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform ease-in-out 250ms;
}

.nav-card:hover > .card-text {
  transform: translate(-50%, -80%);
  text-decoration: underline;
}

/* Works Card Shapes */
.works-card,
.skills-card,
.about-me-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.works-card .shape,
.skills-card .shape,
.about-me-card .shape {
  position: absolute;
}

.works-card {
  background-color: var(--color-light-brown);
  display: flex;
  justify-content: center;
  place-items: center;
}

.works-card > .shape {
  border-radius: 5px;
  width: 30%;
  aspect-ratio: 5 / 7;
  transition-property: transform, box-shadow;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.18, 0.68, 0.63, 0.94);
}

.works-card > .shape:nth-child(1) {
  background-color: var(--color-bright-orange);
  z-index: 0;
  transform: translate(-5%, 0) rotate(-10deg);
}
.works-card > .shape:nth-child(2) {
  background-color: var(--color-dark-green);
  z-index: 1;
  transform: translate(4%, 0) rotate(10deg);
}
.works-card > .shape:nth-child(3) {
  background-color: var(--color-light-pink);
  z-index: 2;
  transform: translate(26%, 0) rotate(20deg);
}

/* Works Cards Animation */
.works-card:hover > .shape {
  transform: rotate(0deg);
  box-shadow: hsla(163, 70%, 15%, 0.1) 0px 48px 100px 0px;
}
.works-card:hover > .shape:nth-child(1) {
  transform: translate(0, -40%);
}
.works-card:hover > .shape:nth-child(2) {
  transform: translate(0, -10%);
}
.works-card:hover > .shape:nth-child(3) {
  transform: translate(0, 20%);
}

/* Skills Card Shapes */
.skills-card {
  background-color: var(--color-light-pink);
}
/* Eyes style */
.skills-card > .eye {
  width: 50%;
  height: 33.3%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 100% 5px;
  border: 1px solid var(--color-dark-green);
  background-color: var(--color-light-brown);
  overflow: clip;
  transition: box-shadow 1000ms ease-in-out;
}
.skills-card:hover > .eye {
  box-shadow: rgba(17, 12, 46, 0.5) 0px 48px 100px 0px;
}
.skills-card > .eye > .eye-lid {
  background-color: var(--color-dark-green);
  position: absolute;
  width: 150%;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: transform 250ms ease-in-out;
}
.skills-card:hover > .eye > .eye-lid {
  transform: translate(-100%, -100%) rotate(-45deg);
}
.skills-card > .eye > .eye-ball {
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--color-dark-green);
}
.skills-card > .particle-shape > .shape {
  background-color: var(--color-dark-green);
  border-radius: 50%;
}
.skills-card:hover > .particle-shape .shape:nth-child(-n + 7) {
  animation-play-state: paused;
}
@keyframes scaleupdown {
  25% {
    transform: scale(2.5);
  }

  50% {
    transform: scale(1);
  }
}
.skills-card > .particle-shape .shape:nth-child(1) {
  width: 4.5%;
  height: 3%;
  top: -1%;
  left: 5.5%;
  animation: scaleupdown infinite 3000ms;
}
.skills-card > .particle-shape .shape:nth-child(2) {
  width: 3.5%;
  height: 2.3%;
  top: 5.7%;
  left: 16%;
  animation: scaleupdown infinite 4000ms 1000ms;
}
.skills-card > .particle-shape .shape:nth-child(3) {
  width: 1.5%;
  height: 1%;
  top: 11%;
  left: 4%;
  animation: scaleupdown infinite 4000ms 3000ms;
}
.skills-card > .particle-shape .shape:nth-child(4) {
  width: 9%;
  height: 6%;
  top: 18%;
  left: 91%;
  animation: scaleupdown infinite 4000ms 3000ms;
}
.skills-card > .particle-shape .shape:nth-child(5) {
  width: 6%;
  height: 4%;
  top: 73.3%;
  left: 4%;
  animation: scaleupdown infinite 3000ms 2000ms;
}
.skills-card > .particle-shape .shape:nth-child(6) {
  width: 2.5%;
  height: 1.7%;
  top: 92%;
  left: 85.5%;
  animation: scaleupdown infinite 3000ms 2500ms;
}
.skills-card > .particle-shape .shape:nth-child(7) {
  width: 3.5%;
  height: 2.3%;
  top: 93%;
  left: 94%;
  animation: scaleupdown infinite 3000ms 1500ms;
}

/* About Me Card Shapes */
.about-me-card {
  background-color: #01adb5;
}

.about-me-card > .shape:nth-child(1) {
  background-color: var(--color-black-med);
  width: 25.5%;
  height: 34.3%;
  top: 11%;
  left: 29%;
}
.about-me-card > .shape:nth-child(2) {
  background-color: var(--color-black-light);
  width: 27%;
  height: 5%;
  top: 32.7%;
  left: 50%;
}
.about-me-card > .shape:nth-child(3) {
  background-color: var(--color-black);
  width: 17%;
  height: 11.3%;
  border-radius: 50%;
  top: 38.7%;
  left: 58%;
}
.about-me-card > .shape:nth-child(4) {
  background-color: var(--color-bright-orange);
  width: 20%;
  height: 6.3%;
  top: 63%;
  left: 38%;
  z-index: 2;
}
.about-me-card > .shape:nth-child(5) {
  background-color: var(--color-orange);
  width: 20%;
  height: 5.5%;
  top: 67.3%;
  left: 40.5%;
  z-index: 2;
}
.about-me-card > .shape:nth-child(6) {
  border: solid 2px var(--color-black);
  width: 25%;
  height: 43.3%;
  top: 30.7%;
  left: 45%;
  z-index: 1;
}
.about-me-card > .shape:nth-child(7) {
  background-color: var(--color-gray);
  width: 30%;
  height: 30%;
  top: 70%;
  left: 50%;
  z-index: 0;
}

/* Hover State Card */
@media (hover: hover) {
  .about-me-card:hover > .shape:nth-child(1) {
    transform: translate(0, -10%);
  }
  .about-me-card:hover > .shape:nth-child(2) {
    transform: translate(20%, -8%) rotate(15deg);
  }
  .about-me-card:hover > .shape:nth-child(3) {
    transform: translate(0, 5%);
  }
  .about-me-card:hover > .shape:nth-child(4) {
    transform: translate(0, -20%);
  }
  .about-me-card:hover > .shape:nth-child(5) {
    transform: translate(10%, 10%);
  }
}

/* Works Section */

#works {
  background-color: var(--color-background);
  padding-block: 6.25rem;
}

.works-img {
  margin-block-end: 2.5rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.project {
  height: 31.25rem;
  width: clamp(16.25rem, 7.08rem + 45.9vw, 43.75rem);
}
.project.first {
  background-color: var(--color-bright-orange);
}
.project.second {
  background-color: var(--color-dark-green);
}
.project.third {
  background-color: var(--color-light-pink);
}

/* Skills Section */

#skills {
  padding-block: 6.25rem;
}
.skills-layout-container {
  display: flex;
  justify-content: center;
}

.skills-layout {
  margin-inline: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.skills-layout .logo {
  background-color: #f0f0d8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: clamp(3rem, 1rem + 10vw, 9rem);
  height: clamp(3rem, 1rem + 10vw, 9rem);
  border-radius: 10px;
}
.skills-layout > .columns-separator {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skills-layout .logo img {
  width: 30%;
  height: auto;
}
.skills-layout .logo .logo-text {
  /* opacity: 0; */
  text-align: center;
  font-size: clamp(1rem, 0.92rem + 0.42vw, 1.25rem);
  font-family: var(--font-text);
  font-weight: var(--fw-light);
}
.skills-layout-eye {
  width: clamp(3rem, 1rem + 10vw, 9rem);
  height: clamp(3rem, 1rem + 10vw, 9rem);
  margin-inline: auto;
  border-radius: 20%;
  background-color: var(--color-main-black);
}

/* About Me Section */

#about-me {
  padding-block: 6.25rem;
}

.about-me-img {
  background-color: #01adb5;
}

.about-me-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
